body {
  margin: 0;
  font-family: "Chiller";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(0, 2, 7, 0.465), rgba(0, 2, 7, 0.465)),
    url(./assets/wp4791034.webp);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
