.form {
  display: inline-block;
  width: 30em;
  height: 40em;
  background-color: rgba(0, 0, 0, 0.696);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.img {
  width: 400px;
  border-radius: 10%;
  border: 3px solid #0f0;
  box-shadow: 0 0 10px #0f0;
}
.img:hover {
  background: greenyellow;
  box-shadow: 0 0 10px greenyellow, 0 0 40px greenyellow, 0 0 80px greenyellow;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
}
.subt {
  color: #0f0;
  font-size: 18px;
  font-family: "Chiller";
  font-style: oblique;
  position: absolute;
  margin-top: 5px;
  left: 160px;
}

.span {
  color: #fff;
  font-size: 15px;
  font-family: "Chiller";
  font-style: oblique;
}

.error {
  color: #fff;
  font-size: 19px;
  font-family: "Chiller";
  font-style: oblique;
  width: 350px;
  height: 50px;
  border: none;
  background-color: rgba(255, 0, 0, 0.279);
  outline: none;
  color: #fff;
  border-radius: 10px;
}
.exito {
  color: greenyellow;
  font-size: 19px;
  font-family: "Chiller";
  font-style: oblique;
  width: 350px;
  height: 50px;
  border: none;
  background-color: rgba(172, 255, 47, 0.245);
  border: 3px solid greenyellow;
  outline: none;
  box-shadow: 0 0 10px #0f0;
  border-radius: 10px;
}

.error::placeholder {
  color: #fff;
  font-size: 19px;
  font-family: "Chiller";
  font-style: oblique;
  letter-spacing: 2px;
}
.exito::placeholder {
  color: greenyellow;
  font-size: 19px;
  font-family: "Chiller";
  font-style: oblique;
  letter-spacing: 2px;
}

.boton {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  background-color: rgba(172, 255, 47, 0.715);
  letter-spacing: 4px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: "City Contrasts";
  border: none;
  cursor: pointer;
  margin: 2%;
  border-radius: 10px;
}
.boton:hover {
  background: greenyellow;
  box-shadow: 0 0 10px greenyellow, 0 0 40px greenyellow, 0 0 80px greenyellow;
  transition-delay: 0.25s;
}
@media screen and (max-width: 450px) {
  .form {
    width: 80%;
    margin: 0 auto;
    height: auto;
  }
  .contenedor {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .img {
    width: 98%;
    margin: 0 auto;
    height: auto;
  }
  .subt {
    width: 100%;
    margin: 0 auto;
    left: 0;
  }
  .exito {
    width: 90%;
    height: auto;
  }
  .error {
    width: 90%;
    height: auto;
  }
  .boton {
    width: 60%;
    padding: 5px;
    margin-bottom: 7%;
  }
}
