.contenedor {
  background-color: transparent;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.input {
  width: 80%;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  letter-spacing: 0.5px;
  font-size: 25px;
  font-family: "Chiller";
  background-color: transparent;
  /* left: 270px; */
}
::placeholder {
  color: #0f0;
}
.input:hover {
  background: rgb(146, 255, 3) 5;
  box-shadow: 0 0 10px rgb(146, 255, 3), 0 0 40px rgb(146, 255, 3),
    0 0 80px rgb(146, 255, 3);
}
.boton {
  position: relative;
  display: inline-block;
  width: 20%;
  border-radius: 10px;
  /* padding: 15px 30px; */
  color: #fff;
  background-color: rgba(172, 255, 47, 0.715);
  letter-spacing: 4px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: "City Contrasts";
  border: none;
  cursor: pointer;
}
.boton:hover {
  background: greenyellow;
  box-shadow: 0 0 10px greenyellow, 0 0 40px greenyellow, 0 0 80px greenyellow;
  transition-delay: 0.25s;
}
@media screen and (max-width: 450px) {
  .contenedor {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .input {
    width: 60%;
    height: auto;
    letter-spacing: 1px;
    height: 50px;
  }
  .boton {
    width: 40%;
    padding: 0;
    letter-spacing: 1px;
    height: 50px;
  }
  ::placeholder {
    color: #0f0;
    width: 100%;
    height: auto;
    font-size: medium;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1300px) {
  .contenedor {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .input {
    width: 60%;
    height: auto;
    letter-spacing: 1px;
    height: 50px;
  }
  .boton {
    width: 40%;
    padding: 0;
    letter-spacing: 1px;
    height: 50px;
  }
  ::placeholder {
    color: #0f0;
    width: 100%;
    height: auto;
    font-size: medium;
    margin: 0;
    padding: 0;
  }
}
